<div class="main-wrapper">
		
    <section class="about-me-section p-3 p-lg-5 theme-bg-light">
        <div class="container">
            <div class="profile-teaser media flex-column flex-lg-row">
                
                <div class="media-body">
                    <h2 class="name font-weight-bold mb-1">Kamran Sadiq</h2>
                    <div class="tagline mb-3">Senior Software Engineer</div>
                    <div class="bio mb-4">Hi, <br> I'm a software engineer specialized in front-end and back-end development for complex scalable web apps. Want to know how I may help your project? Check out my project <a class="link-on-bg" routerLink="/portfolio">portfolio</a> and <a class="link-on-bg" routerLink="/resume">online resume</a>.
                    </div><!--//bio-->
                    <div class="mb-4">
                        <a class="btn btn-primary mr-2 mb-3" routerLink="/portfolio"><i class="fas fa-arrow-alt-circle-right mr-2"></i><span class="d-none d-md-inline">View</span> Portfolio</a>
                        <a class="btn btn-secondary mb-3" routerLink="/resume"><i class="fas fa-file-alt mr-2"></i><span class="d-none d-md-inline">View</span> Resume</a>
                    </div>
                </div><!--//media-body-->
                <!-- <img class="profile-image mb-3 mb-lg-0 ml-lg-5 mr-md-0" height="auto" width="auto" src="assets/images/ks-profile-lg.jpg" alt=""> -->
            </div>
        </div>
    </section><!--//about-me-section-->
    
    <section class="overview-section p-3 p-lg-5">
        <div class="container">
            <h2 class="section-title font-weight-bold mb-3">What I do</h2>
            <div class="section-intro mb-5">I have more than 4 years experience building software for clients all over the world. Below is a quick overview of my main technical skill sets and technologies I use.</div>
            <div class="row">
                
                <div class="item col-6 col-lg-3">
                    <div class="item-inner">
                        <div class="item-icon" style="color:black !important; font-size: 31px;">.NET</div>
                        <h3 class="item-title">ASP.NET MVC / .NET Core</h3>
                        <div class="item-desc">The ASP.NET MVC is a discontinued web application framework developed by Microsoft, which implements the model–view–controller pattern. It is open-source software, apart from the ASP.NET Web Forms component which is proprietary</div>
                    </div>
                </div>

                <div class="item col-6 col-lg-3">
                    <div class="item-inner">
                        <div class="item-icon"><i class="fas fa-database"></i></div>
                        <h3 class="item-title">SQL Server</h3>
                        <div class="item-desc">SQL is a domain-specific language used in programming and designed for managing data held in a relational database management system, or for stream processing in a relational data stream management system</div>
                    </div>
                </div>

                <div class="item col-6 col-lg-3">
                    <div class="item-inner">
                        <div class="item-icon"><i class="fab fa-angular"></i></div>
                        <h3 class="item-title">Angular</h3>
                        <div class="item-desc">Angular is a TypeScript-based open-source web application framework led by the Angular Team at Google and by a community of individuals and corporations. Angular is a complete rewrite from the same team that built AngularJS.</div>
                    </div>
                </div>

                
                <!-- <div class="item col-6 col-lg-3">
                    <div class="item-inner">
                        <div class="item-icon"><i class="fab fa-angular mr-2"></i><i class="fab fa-react mr-2"></i><i class="fab fa-vuejs"></i></div>
                        <h3 class="item-title">Angular, React &amp;  Vue</h3>
                        <div class="item-desc">List skills/technologies here. You can change the icon above to any of the 1500+ <a class="theme-link" href="https://fontawesome.com/" target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget dolor.  </div>
                    </div>
                </div> -->

                <div class="item col-6 col-lg-3">
                    <div class="item-inner">
                        <div class="item-icon"><i class="fab fa-js-square"></i></div>
                        <h3 class="item-title">JavaScript</h3>
                        <div class="item-desc">JavaScript, often abbreviated as JS, is a programming language that conforms to the ECMAScript specification. JavaScript is high-level, often just-in-time compiled, and multi-paradigm. It has curly-bracket syntax, dynamic typing, prototype-based object-orientation, and first-class functions.</div>
                    </div>
                </div>
                
                
                <div class="item col-6 col-lg-3">
                    <div class="item-inner">
                        <div class="item-icon">JQuery</div>
                        <h3 class="item-title">JQuery</h3>
                        <div class="item-desc">jQuery is a JavaScript library designed to simplify HTML DOM tree traversal and manipulation, as well as event handling, CSS animation, and Ajax. It is free, open-source software using the permissive MIT License. As of May 2019, jQuery is used by 73% of the 10 million most popular websites.</div>
                    </div>
                </div>
                
                
                <div class="item col-6 col-lg-3">
                    <div class="item-inner">
                        <div class="item-icon"><i class="fab fa-html5 mr-2"></i><i class="fab fa-css3-alt"></i></div>
                        <h3 class="item-title">HTML &amp; CSS</h3>
                        <div class="item-desc">Hypertext Markup Language, a standardized system for tagging text files to achieve font, colour, graphic, and hyperlink effects on World Wide Web pages. Cascading Style Sheets is a style sheet language used for describing the presentation of a document written in a markup language such as HTML. CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.</div>
                    </div><!--//item-inner-->
                </div><!--//item-->
                

                <div class="item col-6 col-lg-3">
                    <div class="item-inner">
                        <div class="item-icon"><i class="fab fa-git"></i></div>
                        <h3 class="item-title">Git</h3>
                        <div class="item-desc">Git is a distributed version-control system for tracking changes in source code during software development. It is designed for coordinating work among programmers, but it can be used to track changes in any set of files. Its goals include speed, data integrity, and support for distributed, non-linear workflows.</div>
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item col-6 col-lg-3">
                    <div class="item-inner">
                        <div class="item-icon"><i class="fab fa-python"></i></div>
                        <h3 class="item-title">Python &amp; Django</h3>
                        <div class="item-desc">Django is a Python-based free and open-source web framework that follows the model-template-views architectural pattern. It is maintained by the Django Software Foundation, an American independent organization established as a 501 non-profit.</div>
                    </div><!--//item-inner-->
                </div><!--//item-->

                

            </div><!--//row-->
            
        </div><!--//container-->
    </section>
    
    <div class="container"><hr></div>
    
    
    
    <section class="featured-section p-3 p-lg-5">
        <div class="container">
            <h2 class="section-title font-weight-bold mb-5">Featured Projects</h2>
            <div class="row">
                <div class="col-md-6 mb-5">
                    <div class="card project-card">
                        <div class="row no-gutters">
                            <div class="col-lg-4 card-img-holder">
                                <img src="assets/images/project/qms-admin-dashboard.png" class="card-img" alt="image">
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="project.html" class="theme-link">Query management system</a></h5>
                                    <p class="card-text">This project was designed for doctors and patients. Patients send their query along with documents to doctors and then doctors check patients' documents and response appropriately</p>
                                    <p class="card-text"><small class="text-muted">Technologies: .NET CORE APIs, SQL, Angular, AWS </small></p>
                                </div>
                            </div>
                        </div>
                        <div class="link-mask">
                            <a class="link-mask-link" href="http://qmssite.s3-website-us-east-1.amazonaws.com/"></a>
                            <div class="link-mask-text">
                                <a class="btn btn-secondary" href="http://qmssite.s3-website-us-east-1.amazonaws.com/" target="_blank">
                                    <i class="fas fa-eye mr-2"></i>Visit
                                </a>
                                <a class="btn btn-secondary" onclick="alert('photos will be available soon !')" target="_blank">
                                    <i class="fas fa-eye mr-2"></i>Photos
                                </a>
                            </div>
                        </div><!--//link-mask-->
                    </div><!--//card-->
                </div><!--//col-->
                <!-- <div class="col-md-6 mb-5">	
                    <div class="card project-card">
                        <div class="row no-gutters">
                            <div class="col-lg-4 card-img-holder">
                                <img src="assets/images/project/faastrak-admin-dashboard.png" class="card-img" alt="image">
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="https://secure.faastrak.com" class="theme-link">FaasTrak</a></h5>
                                    <p class="card-text">This project was designed for small business entities. Business owner sent application to system then system process applicaiton and approved loan for applicant.</p>
                                    <p class="card-text"><small class="text-muted">Technologies: .NET CORE APIs, SQL, Angular, AWS </small></p>
                                </div>
                            </div>
                        </div>
                        <div class="link-mask">
                            <a class="link-mask-link" href="project.html"></a>
                            <div class="link-mask-text">
                                <a class="btn btn-secondary" href="https://secure.faastrak.com" target="_blank">
                                    <i class="fas fa-eye mr-2"></i>Visit
                                </a>
                                <a class="btn btn-secondary" onclick="alert('photos will be available soon !')" target="_blank">
                                    <i class="fas fa-eye mr-2"></i>Photos
                                </a>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-md-6 mb-5">	
                    <div class="card project-card">
                        <div class="row no-gutters">
                            <div class="col-lg-4 card-img-holder">
                                <img src="assets/images/project/cb-home-page.png" class="card-img" alt="image">
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="https://secure.faastrak.com" class="theme-link">Cakes & Bakes</a></h5>
                                    <p class="card-text">Website specially designed for online food order.</p>
                                    <p class="card-text"><small class="text-muted">Technologies: ASP.NET MVC, SQL, JQUERY, AWS </small></p>
                                </div>
                            </div>
                        </div>
                        <div class="link-mask">
                            <a class="link-mask-link" href="project.html"></a>
                            <div class="link-mask-text">
                                <a class="btn btn-secondary" href="https://cakesandbakes.com" target="_blank">
                                    <i class="fas fa-eye mr-2"></i>Visit
                                </a>
                                <a class="btn btn-secondary" onclick="alert('photos will be available soon !')" target="_blank">
                                    <i class="fas fa-eye mr-2"></i>Photos
                                </a>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-6 mb-5">
                    <div class="card project-card">
                        <div class="row no-gutters">
                            <div class="col-lg-4 card-img-holder">
                                <img src="assets/images/project/jt-admin-dashboard.png" class="card-img" alt="image">
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="" class="theme-link">Jannat Traders</a></h5>
                                    <p class="card-text">This website specially design for management of inventory</p>
                                </div>
                            </div>
                        </div>
                        <div class="link-mask">
                            <a class="link-mask-link" href="project.html"></a>
                            <div class="link-mask-text">
                                <a class="btn btn-secondary" href="http://jannattraders.nomansadiq.pk/#/login" target="_blank">
                                    <i class="fas fa-eye mr-2"></i>Visit
                                </a>
                                <a class="btn btn-secondary" onclick="alert('photos will be available soon !')" target="_blank">
                                    <i class="fas fa-eye mr-2"></i>Photos
                                </a>
                            </div>
                        </div><!--//link-mask-->
                    </div><!--//card-->
                </div><!--//col-->
            </div><!--//row-->
            <div class="text-center py-3"><a routerLink="/portfolio" class="btn btn-primary"><i class="fas fa-arrow-alt-circle-right mr-2"></i>View Portfolio</a></div>
        
            <!-- <button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button> -->

        </div><!--//container-->
    </section><!--//featured-section-->
    
    <div class="container"><hr></div>
    
</div>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      This is a modal.
    </div>
  </ng-template>