<div class="main-wrapper">
    <section class="cta-section theme-bg-light py-5">
        <div class="container text-center single-col-max-width">
            <h2 class="heading">Contact</h2>
            <div class="intro">
                <p>Interested in hiring me for your project or just want to say hi? You can fill in the contact form
                    below or send me an email to <a href="mailto:#">kamransadiq111@gmail.com</a></p>
                <p>Want to get connected? Follow me on the social channels below.</p>
            </div>
        </div>
    </section>
    <section class="contact-section px-3 py-5 p-md-5">
        <div class="box">
            <div class="container">
                <div class="row">
                 
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                   
                        <div class="box-part text-center">
                            
                            <i class="fab fa-instagram fa-3x" aria-hidden="true"></i>
                            
                            <div class="title">
                                <h4>Instagram</h4>
                            </div>
                            
                            <div class="text">
                                <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                            </div>
                            
                            <a href="#">Learn More</a>
                            
                         </div>
                    </div>	 
                    
                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                   
                        <div class="box-part text-center">
                            
                            <i class="fab fa-twitter fa-3x" aria-hidden="true"></i>
                        
                            <div class="title">
                                <h4>Twitter</h4>
                            </div>
                            
                            <div class="text">
                                <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                            </div>
                            
                            <a href="#">Learn More</a>
                            
                         </div>
                    </div>	 
                    
                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                   
                        <div class="box-part text-center">
                            
                            <i class="fab fa-facebook fa-3x" aria-hidden="true"></i>
                            
                            <div class="title">
                                <h4>Facebook</h4>
                            </div>
                            
                            <div class="text">
                                <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                            </div>
                            
                            <a href="#">Learn More</a>
                            
                         </div>
                    </div>	 
                    
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                   
                        <div class="box-part text-center">
                            
                            <i class="fab fa-pinterest-p fa-3x" aria-hidden="true"></i>
                            
                            <div class="title">
                                <h4>Pinterest</h4>
                            </div>
                            
                            <div class="text">
                                <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                            </div>
                            
                            <a href="#">Learn More</a>
                            
                         </div>
                    </div>	 
                    
                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                   
                        <div class="box-part text-center">
                            
                            <i class="fab fa-google-plus fa-3x" aria-hidden="true"></i>
                        
                            <div class="title">
                                <h4>Google</h4>
                            </div>
                            
                            <div class="text">
                                <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                            </div>
                            
                            <a href="#">Learn More</a>
                            
                         </div>
                    </div>	 
                    
                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                   
                        <div class="box-part text-center">
                            
                            <i class="fab fa-github fa-3x" aria-hidden="true"></i>
                            
                            <div class="title">
                                <h4>Github</h4>
                            </div>
                            
                            <div class="text">
                                <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                            </div>
                            
                            <a href="#">Learn More</a>
                            
                         </div>
                    </div>
            
            </div>
            </div>
        </div>
        
    </section>
</div>