<div class="main-wrapper">
    <section class="cta-section theme-bg-light py-5">
        <div class="container text-center single-col-max-width">
            <h2 class="heading">Portfolio</h2>
            <div class="intro">
            <p>Welcome to my online portfolio.</p>
            
            </div>
            <a class="btn btn-primary" routerLink="/contact"><i class="fas fa-paper-plane mr-2"></i>Hire Me</a>
            
            
        </div><!--//container-->
    </section>
    <section class="projects-list px-3 py-5 p-md-5">
        <div class="container">
            <div class="text-center">
                <ul id="filters" class="filters mb-5 mx-auto pl-0">
                    <li class="type active mb-3 mb-lg-0" data-filter="*">All</li>
                </ul><!--//filters-->
            </div>
            
            <div class="project-cards row isotope">
                <div class="isotope-item col-md-6 mb-5 mobileapp frontend">
                    <div class="card project-card">
                        <div class="row no-gutters">
                            <div class="col-lg-4 card-img-holder">
                                <img src="assets/images/project/qms-admin-dashboard.png" class="card-img" alt="image">
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="project.html" class="theme-link">Query management system</a></h5>
                                    <p class="card-text">This project was designed for doctors and patients. Patients send their query along with documents to doctors and then doctors check patients' documents and response appropriately</p>
                                    <p class="card-text"><small class="text-muted">Technologies: .NET CORE APIs, SQL, Angular, AWS </small></p>
                                </div>
                            </div>
                        </div>
                        <div class="link-mask">
                            <a class="link-mask-link" href="http://qmssite.s3-website-us-east-1.amazonaws.com/"></a>
                            <div class="link-mask-text">
                                <a class="btn btn-secondary" href="http://qmssite.s3-website-us-east-1.amazonaws.com/" target="_blank">
                                    <i class="fas fa-eye mr-2"></i>Visit
                                </a>
                                <a class="btn btn-secondary" onclick="alert('photos will be available soon !')" target="_blank">
                                    <i class="fas fa-eye mr-2"></i>Photos
                                </a>
                            </div>
                        </div><!--//link-mask-->
                    </div><!--//card-->
                </div><!--//col-->
                <!-- <div class="isotope-item col-md-6 mb-5 webapp frontend">	
                    <div class="card project-card">
                        <div class="row no-gutters">
                            <div class="col-lg-4 card-img-holder">
                                <img src="assets/images/project/faastrak-admin-dashboard.png" class="card-img" alt="image">
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="https://secure.faastrak.com" class="theme-link">FaasTrak</a></h5>
                                    <p class="card-text">This project was designed for small business entities. Business owner sent application to system then system process applicaiton and approved loan for applicant.</p>
                                    <p class="card-text"><small class="text-muted">Technologies: .NET CORE APIs, SQL, Angular, AWS </small></p>
                                </div>
                            </div>
                        </div>
                        <div class="link-mask">
                            <a class="link-mask-link" href="project.html"></a>
                            <div class="link-mask-text">
                                <a class="btn btn-secondary" href="https://secure.faastrak.com" target="_blank">
                                    <i class="fas fa-eye mr-2"></i>Visit
                                </a>
                                <a class="btn btn-secondary" onclick="alert('photos will be available soon !')" target="_blank">
                                    <i class="fas fa-eye mr-2"></i>Photos
                                </a>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="isotope-item col-md-6 mb-5 mobileapp">
                    <div class="card project-card">
                        <div class="row no-gutters">
                            <div class="col-lg-4 card-img-holder">
                                <img src="assets/images/project/cb-home-page.png" class="card-img" alt="image">
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="https://secure.faastrak.com" class="theme-link">Cakes & Bakes</a></h5>
                                    <p class="card-text">Website specially designed for online food order.</p>
                                    <p class="card-text"><small class="text-muted">Technologies: ASP.NET MVC, SQL, JQUERY, AWS </small></p>
                                </div>
                            </div>
                        </div>
                        <div class="link-mask">
                            <a class="link-mask-link" href="project.html"></a>
                            <div class="link-mask-text">
                                <a class="btn btn-secondary" href="https://cakesandbakes.com" target="_blank">
                                    <i class="fas fa-eye mr-2"></i>Visit
                                </a>
                                <a class="btn btn-secondary" onclick="alert('photos will be available soon !')" target="_blank">
                                    <i class="fas fa-eye mr-2"></i>Photos
                                </a>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="isotope-item col-md-6 mb-5 webapp backend">
                    <div class="card project-card">
                        <div class="row no-gutters">
                            <div class="col-lg-4 card-img-holder">
                                <img src="assets/images/project/jt-admin-dashboard.png" class="card-img" alt="image">
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="" class="theme-link">Jannat Traders</a></h5>
                                    <p class="card-text">This website specially design for management of inventory</p>
                                    <p class="card-text"><small class="text-muted">Technologies: ASP.NET MVC, SQL, Angular JQUERY, AWS </small></p>
                                </div>
                            </div>
                        </div>
                        <div class="link-mask">
                            <a class="link-mask-link" href="project.html"></a>
                            <div class="link-mask-text">
                                <a class="btn btn-secondary" href="http://jannattraders.nomansadiq.pk/#/login" target="_blank">
                                    <i class="fas fa-eye mr-2"></i>Visit
                                </a>
                                <a class="btn btn-secondary" onclick="alert('photos will be available soon !')" target="_blank">
                                    <i class="fas fa-eye mr-2"></i>Photos
                                </a>
                            </div>
                        </div><!--//link-mask-->
                    </div><!--//card-->
                </div><!--//col-->
                <div class="isotope-item col-md-6 mb-5 mobileapp frontend">
                    <div class="card project-card">
                        <div class="row no-gutters">
                            <div class="col-lg-4 card-img-holder">
                                <img src="assets/images/project/project-2.jpg" class="card-img" alt="image">
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="" class="theme-link">Opinion Mining</a></h5>
                                    <p class="card-text">A website that analyze user comments on post and rank tha post according to users comments</p>
                                    <p class="card-text"><small class="text-muted">Technologies: ASP.NET MVC, SQL, JQUERY</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="link-mask">
                            <a class="link-mask-link" href="project.html"></a>
                            <div class="link-mask-text">
                                <a class="btn btn-secondary" onclick="alert('photos will be available soon !')" target="_blank">
                                    <i class="fas fa-eye mr-2"></i>Photos
                                </a>
                            </div>
                        </div><!--//link-mask-->
                    </div><!--//card-->
                </div><!--//col-->
                <div class="isotope-item col-md-6 mb-5 webapp backend">
                    <div class="card project-card">
                        <div class="row no-gutters">
                            <div class="col-lg-4 card-img-holder">
                                <img src="assets/images/project/emp-admin-dashboard.png" class="card-img" alt="image">
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="" class="theme-link">Employee Training System</a></h5>
                                    <p class="card-text">A website that trains employee by watching videos and attempt test.</p>
                                    <p class="card-text"><small class="text-muted">Technologies: ASP.NET MVC, SQL, JQUERY</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="link-mask">
                            <a class="link-mask-link" href="project.html"></a>
                            <div class="link-mask-text">
                                <a class="btn btn-secondary" onclick="alert('photos will be available soon !')" target="_blank">
                                    <i class="fas fa-eye mr-2"></i>Photos
                                </a>
                            </div>
                        </div><!--//link-mask-->
                    </div><!--//card-->
                </div><!--//col-->
                <div class="isotope-item col-md-6 mb-5 webapp frontend backend">
                    <div class="card project-card">
                        <div class="row no-gutters">
                            <div class="col-lg-4 card-img-holder">
                                <img src="assets/images/project/selts-admin-dashboard.png" class="card-img" alt="image">
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="" class="theme-link">Secure English Language Teaching System</a></h5>
                                    <p class="card-text">A system that design for student to learn english by watching videos and attempt tests<p>
                                        <p class="card-text"><small class="text-muted">Technologies: ASP.NET MVC, SQL, JQUERY</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="link-mask">
                            <a class="link-mask-link" href="project.html"></a>
                            <div class="link-mask-text">
                                <a class="btn btn-secondary" onclick="alert('photos will be available soon !')" target="_blank">
                                    <i class="fas fa-eye mr-2"></i>Photos
                                </a>
                            </div>
                        </div><!--//link-mask-->
                    </div><!--//card-->
                </div><!--//col-->
                <div class="isotope-item col-md-6 mb-5 webapp frontend">
                    <div class="card project-card">
                        <div class="row no-gutters">
                            <div class="col-lg-4 card-img-holder">
                                <img src="assets/images/project/ml-login.png" class="card-img" alt="image">
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="" class="theme-link">Market Line</a></h5>
                                    <p class="card-text">Keep the business information, selling and purchase the leaflets. Track the staff. Track the Companies.
                                        Track the areas.
                                        Generates the reports.
                                        Export in PDF.</p>
                                    <p class="card-text"><small class="text-muted">Technologies: ASP.NET MVC, SQL, JQUERY</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="link-mask">
                            <a class="link-mask-link" href="project.html"></a>
                            <div class="link-mask-text">
                                <a class="btn btn-secondary" onclick="alert('photos will be available soon !')" target="_blank">
                                    <i class="fas fa-eye mr-2"></i>Photos
                                </a>
                            </div>
                        </div><!--//link-mask-->
                    </div><!--//card-->>
                </div><!--//col-->
            </div><!--//row-->
        
        </div>
    </section>
</div>